body {
    font-family:"Stalinist One", sans-serif;
    font-style: normal;
    font-size: 0.6em;
    background: linear-gradient(180deg,#000000,#22001d,#510457,#c903a8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed ;
}

header {
    color: white;
    padding: 1rem;
}

header h1 {
    margin: 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav li {
    display: inline-block;
    padding: 0 1rem;
}

header nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.turnir{
    color: white;
}

header nav a:hover {
    color: #ddd;
}

main {
    color: #fff;
    width: 80%;
    margin: 2rem auto;
}

section {

    padding: 2rem 0;
}

section h2 {
    margin-top: 0;
}

.turnir-list .turnir {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: #fff;
}

.turnir img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 1rem;
}

footer {
    text-align: left;
    color: white;
    padding: 1rem;
}

@media screen and (max-width: 600px) {
    main {
        width: 100%;
    }
}

#prices ,#contacts {
    color: #fff;
}

.gerin{
    text-align: center;
}

span{
    color: rgb(125, 85, 219);
}

.iopin{
    color:red;
}
.me{
	color: #ffffff; 
    position: relative;
    cursor: pointer;
    text-decoration: none; 
}
.me:after{
    color: #ff00ee;
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; 
    background-color: black;
    transition: width 0.5s; 
}

.me:hover:after {
    color: #ff00ee;
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; 
    background-color: rgb(255, 0, 234); 
    transition: width 0.5s;  
}
.computers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Динамическое размещение карточек */
    gap: 40px;
    max-width: 1280px;
    margin: 50px auto;
    padding: 0 20px;
}



.computer img {
    width: 100%;
    height: auto;
}

.computer h3 {
    margin-top: 10px;
}

.computer ul {
    padding: 0;
    line-height: 1.5;
    list-style-type: none; /* Убираем маркеры списка */
}

.computer li strong {
    float: left;
    width: 130px;
}

.computer ul li {
    color: white; /* Делаем текст белым */
    padding: 0;
    line-height: 1.5;
    list-style-type: none;
}
.computer h3 {
    color: white; /* Делаем текст белым */
    margin-top: 10px;
}